
.debug{
    position: absolute;
    right: 0px;
}
body{
    padding:0px;
    margin:0px;  
    background-color:#e2e2e2;
    background-image:url('http://s14.directupload.net/images/141030/jvyuz3iy.png');
    font-family: 'Lato', sans-serif;  
    overflow: hidden;
}
.clear{
    clear: both;
}
.content{
    position:absolute;
    width: 100%;
}
.settings{
    position: absolute;
    width: 100%;
    background-color: green;
    height: 100%;
    z-index: 99;
}
.search{
    height: 50px;
    width: 100%;
}
.search input{
    text-indent: 20px;
    font-size: 30px;
    border: 1px solid #808080;
    width: 100%;
    height: 100%;
    float: left;
}
.search .searchicon{
    height: 54px;
    background-color: #78818B;
    float: left;
    width: 54px;
    margin-left: -54px;
}
.scroller{
    overflow-y: scroll;
    behavior:url(-ms-transform.htc);  
    -webkit-transform: rotate(-90deg);
    -moz-transform:rotate(-90deg);  
    -webkit-transform:rotate(-90deg);  
    -o-transform:rotate(-90deg);  
    -ms-transform:rotate(-90deg);  
    transform: rotate(-90deg);
    overflow-x: hidden;
    position: absolute;
}
.itemwrapper{
    height:auto;
}
.items{
    width: 632px;
    height: auto;
    margin-bottom:10px;
    float:left;
}
.item{
    height:116px;
    width:116px;
    margin-right:10px;
    margin-bottom:10px;
    float:left;
    overflow:hidden;
    position:relative;
    behavior:url(-ms-transform.htc);  
    -webkit-transform: rotate(-90deg);
    -moz-transform:rotate(90deg);  
    -webkit-transform:rotate(90deg);  
    -o-transform:rotate(90deg);  
    -ms-transform:rotate(90deg);  
    transform: rotate(90deg);
}
.deleteItem{
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 30px 30px 0px;
    border-color: transparent #FF002B transparent transparent;
    right: -86px;
    top: -20px;
}
.item span{
    font-size:15px;
    font-weight:600;
    position:relative;
    left:10px;
    top:10px;
    color:white;
}
.productPrice{
    font-family: 'Lato', sans-serif;  
    font-weight:900;
    position:absolute;
    right:0px;
    bottom:0px;
    padding:5px;
}
.Category{
    height: 50px;
    border: 1px solid #808080;
    background-color: #7F838D;
    float: left;
    margin-top: -5px;
    position: relative;
	overflow: hidden;
}

.catscroller{
    overflow:hidden;
    overflow-x:scroll;
}
.catscroller ul{
    width: auto;
    padding: 0px;
    height: 50px;
    margin: 0px;
    display:inline-block;
}

.Category .links ,.Category .rechts{
    width:50px;
    height:52px;
    background-color:#7f838d;
    margin-top: -1px;
    z-index: 10;
    position: relative;
}
.Category .links{    
    float:left;
    border-right:solid 2px #717580;
    background-size: 40px;
    background-position: 3px 4px;
    background-image:url(img/arrow.png);
    background-repeat:no-repeat;
}
.Category .rechts{
    margin-left: -53px;
    border-right:solid 2px #717580;
    background-size: 40px;
    background-position: 3px 7px;
    background-image:url(img/arrow.png);
    background-repeat:no-repeat;
    -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
    float: right;
}
.Category .cats{
    width: 100%;
}
.Category ul li{
    float:left;
    list-style:none;
    width:130px;
    height:50px;
    text-align:center;
}
.Category ul li.active{
    background-color: #5f616c;
}
.Category ul li p{
    color:white;
    font-family: 'Lato', sans-serif;
}
.Abrechnung{
    width: 280px;
    height: 430px;
    border: 1px solid #808080;
	border-right: 0px solid ;
    margin-bottom:10px;
    z-index:2;
    background-color:white;
}
.bongeinstellung{
    height:auto;
    width:100%;
    background-color:#78818b;
	float: left;
}
.bongeinstellung .addNewIcon{
    background-image: url(img/addNew.png);
}
.bongeinstellung .removeIcon{
    background-image: url(img/removeItem.png);
}
.bongeinstellung .saveIcon{
    background-image: url(img/save.png);    
}
.bongeinstellung .loadIcon{
    background-image: url(img/load.png);    
}
.settingsIcon{
	background-image: url(img/settings.png);    
}

.bongeinstellung .Del{
    background-image: url(img/trash.png);    
}
.settingsIcon, .loadIcon, .saveIcon, .removeIcon, .addNewIcon, .Del, .closeIcon{
	background-size: 30px 30px; 	
    height: 30px;
    width: 30px;
	float: left;
    margin-left: 15px;
    margin-top: 10px;
    opacity: 0.6;
    cursor: pointer;
	padding-bottom:5px;
	background-repeat:no-repeat;
}
.closeIcon{
    background-image: url(img/close.png);    
    background-size: 50px 50px; 	
    height: 50px;
    width: 50px;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    position: absolute
}
.bongitem{
    height: 330px;
    overflow-x: hidden;
}
.Summe{
    border-top:solid 1px #8a8a8a;
    width: 280px;   
}
.summenFont{
    padding-left:15px;
    font-size:18px;
    opacity:0.6;
    color:#8a8a8a;
    font-family:arial;
    font-family: 'Lato', sans-serif;  
    float:left;
    margin-top: 11px;
}
.Gessumme{
    padding-top:10px;
    padding-right:15px;
    float:right;
    font-weight:900;
    font-size:25px;
    font-family:arial;
    font-family: 'Lato', sans-serif;    
}
.bongitem table tr td:nth-child(1){
    font-family: 'Lato', sans-serif;   
    float:left;
    padding-left:15px;
    width: 191px;
}
.bongitem table tr td:nth-child(2){
    font-family: 'Lato', sans-serif;   
    float:right;
    padding-right:15px;
}
.clearItems{
    width: 70px;
    height: 52px;
    background-color: #9fa2a2;
    background-image: url(img/clean.png);
    background-position: 2px -6px;
    background-repeat:no-repeat;
}
.send {
    font-family: 'Lato', sans-serif; 
    width: 202px;
    height: 52px;
    background-color: #8cc154;
    color:white;
    text-align:center;
    background-image: url(img/check.png);
    background-repeat: no-repeat;
    background-position: 50px 15px;
    background-size: 20px 20px;
    float: right;
}
.send p{
   opacity: 0.8; 
    margin-left:15px;
}
/***************blockUI***************/

.blockUI{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.blockUIBackground{
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.36);
    position: relative;
}
.blockUIContent{
    width: 300px;
    margin: 0px auto;
    z-index: 1000;
    height: auto;
    top: -100%;
    position: relative;
    background: none repeat scroll 0% 0% #FFF;
    padding-bottom: 10px;
}
.blockUIContent input, .blockUIContent select{
    width: 91%;
    height: 50px;    
    margin: 10px;
}
.blockUIContent select{
    width: 280px;
}
.addNew {
    font-family: 'Lato', sans-serif; 
    width: 202px;
    height: 52px;
    background-color: #8cc154;
    color:white;
    text-align:center;
    background-image: url('http://s14.directupload.net/images/141031/5btmkswe.png');
    background-repeat: no-repeat;
    background-position: 47px 15px;
    background-size: 20px 20px;
    float: right;
    cursor: pointer;
    margin-right: 12px;
}
.addNew p{
    opacity: 0.8; 
    margin-left:35px;
    cursor: pointer;
}
.blockUIClose{
    width: 70px;
    height: 52px;
    background-color: #9fa2a2;
    float: left;
    background-image: url(img/clean.png);
    background-position: 2px -6px;
    background-repeat:no-repeat;
    margin-left: 12px;
    cursor: pointer;
}
.blockUIContent .header{
    height:50px;
    width:100%;
    background-color:#78818b;
    color: white;
    font-weight: bold;
    font-size: 22px;
}
.blockUIContent .header p{
    padding-left: 11px;
    padding-top: 13px;
}
.loadContent{
    height:auto;
    width:280px;
    margin-left:10px;
    margin-top:10px
}
.loadItem, .saveItem{
    width:100%;
    height:50px;
    background-color:#3498db;
    margin-bottom:10px;
}
.loadIconLeft{
    height:50px;
    width:50px;
    background-color:#2980b9;
}
.addLayer{
    display:none;
    position: absolute;
    top: 0px;
    width: 300px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    height: 100%;
}
.addLayer .header p{
    margin-top: 0px;
}
.saveLayer{
    display:none;
    position: absolute;
    top: 0px;
    width: 300px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    height: 100%;
}
.saveLayer .header p{
    margin-top: 0px;
}
.loadLayer{
    display:none;
    position: absolute;
    top: 0px;
    width: 300px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    height: 100%;
}
.loadLayer .header p{
    margin-top: 0px;
}
.status{
    position: absolute;
	width: 100%;
	background-color: rgb(140, 193, 84);
	color: #FFF;
	font-family: Arial;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	bottom: -52px;
	height: 38px;
	z-index: 9999999;
	padding-top: 14px;
	display: none;
}
.fileName{
    border: solid 1px #8CC154;
    height: 50px !important;
    width: 224px !important;
    float: left !important;
    margin: 0 !important;
}
.saveName{
    height: 54px;
    width: 50px;
    background-color: #8CC154;
    background-image: url("img/check.png");
    background-repeat: no-repeat;
    background-position: 17px 15px;
    background-size: 20px 20px;
    float: left;
}
.saveList{
    width: 276px;
    margin-left: 10px;
}
.saveItem{
    background-color:#fff;
    border:solid 1px #8CC154;
    margin-left:-1px;
}
.saveList p{
    padding: 0;
    margin: 0;
    position: relative;
    top:10px;
    font-weight: bold;
    font-size: 25px;
    color: #95a5a6;	
    margin-left: 10px;
	
}
.saveList .loadIconLeft{
	background-color:#8CC154;
	float:right;
	background-image: url(img/save.png);
	background-repeat: no-repeat;
	background-position: 17px 15px;
	background-size: 20px 20px;
}